.item-list {
  display: flex;
  width: 95%;
  cursor: pointer;
  margin-top: 8px;
}

.item {
  display: flex;
  align-items: center;
}

.item-list:hover {
  background: #e1e1e1;
}

.title-location {
  font-weight: 600;
  font-size: 15px;
}

.subtitle {
  font-size: 12px;
}